[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[language-server.mdx-language-server]
command = "mdx-language-server"
args = ["--stdio"]
config = { typescript = { tsdk = "/usr/lib/node_modules/typescript/lib" } }

[language-server.taplo]
environment = { "RUST_LOG" = "warn" }

[language-server.ruff.config.settings]
logLevel = "warn"

[language-server.ty]
command = "ty"
args = ["server"]

[language-server.ty.config]
inlayHints.callArgumentNames = false
experimental.rename = true
completions.autoImport = true


# [language-server.svelteserver.config.configuration.svelte]
# logErrorsOnly = true

[[language]]
name = "markdown"
auto-format = true
language-servers = [
  # "marksman",
  "markdown-oxide",
  # "mdx-language-server",
] #harper-ls
formatter = { command = 'prettier', args = ["--parser", "markdown"] }
comment-tokens = ["-", "+", "*", "- [ ]", ">"]

[[language]]
name = "yaml"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "yaml"] }

[[language]]
name = "python"
auto-format = true
# scope = "source.python"
language-servers = [
  "ruff",
  { name = "jedi", except-features = [
    "diagnostics",
  ] },
]
# language-servers = ["ruff", { name = "ty" }]
formatter = { command = "ruff", args = ["format", "-"] }

[[language]]
name = "html"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "html"] }

[[language]]
name = "json"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "json"] }

[[language]]
name = "css"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "css"] }

[[language]]
name = "javascript"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[[language]]
name = "typescript"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[[language]]
name = "tsx"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[[language]]
name = "jsx"
auto-format = true
formatter = { command = 'prettier', args = ["--parser", "typescript"] }

[[language]]
name = "svelte"
auto-format = true
formatter = { command = 'prettier', args = [
  "--plugin",
  "/usr/lib/node_modules/prettier-plugin-svelte/plugin.js",
  "--parser",
  "svelte",
] }

[[language]]
name = "toml"
auto-format = true
formatter = { command = "taplo", args = ["format", "-"] }
# formatter = { command = 'prettier', args = [
#   "--plugin",
#   "prettier-plugin-toml",
#   "--parser",
#   "toml",
# ] }

[[language]]
name = "bash"
auto-format = true
formatter = { command = 'prettier', args = [
  "--plugin",
  "/usr/lib/node_modules/prettier-plugin-sh/lib/index.js",
  "--parser",
  "sh",                                                    #todo
] }
